services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: recsys-api
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_started
      redis:
        condition: service_started
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: ${DATABASE_URL:-postgresql://recsys:recsys_change_me@postgres:5432/recsys}
      DB_INIT_ON_STARTUP: ${DB_INIT_ON_STARTUP:-true}
      KAFKA_DUAL_WRITE_ENABLED: ${KAFKA_DUAL_WRITE_ENABLED:-true}
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS:-kafka:9092}
      KAFKA_TOPIC_IMPRESSIONS: ${KAFKA_TOPIC_IMPRESSIONS:-recsys.impressions.v1}
      KAFKA_TOPIC_WATCHES: ${KAFKA_TOPIC_WATCHES:-recsys.watches.v1}
      PROMETHEUS_METRICS_ENABLED: ${PROMETHEUS_METRICS_ENABLED:-false}
      ONLINE_CACHE_ENABLED: ${ONLINE_CACHE_ENABLED:-true}
      ONLINE_CACHE_BACKEND: ${ONLINE_CACHE_BACKEND:-redis}
      ONLINE_CACHE_REDIS_URL: ${ONLINE_CACHE_REDIS_URL:-redis://redis:6379/0}
      ONLINE_CACHE_HISTORY_TTL_SEC: ${ONLINE_CACHE_HISTORY_TTL_SEC:-20}
      ONLINE_CACHE_RELATED_TTL_SEC: ${ONLINE_CACHE_RELATED_TTL_SEC:-30}
      ONLINE_CACHE_POPULARITY_TTL_SEC: ${ONLINE_CACHE_POPULARITY_TTL_SEC:-5}
    command:
      - sh
      - -c
      - uvicorn app.main:app --host 0.0.0.0 --port 8000 --workers ${UVICORN_WORKERS:-2}

  postgres:
    image: postgres:16-alpine
    container_name: recsys-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-recsys}
      POSTGRES_USER: ${POSTGRES_USER:-recsys}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-recsys_change_me}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -U ${POSTGRES_USER:-recsys} -d ${POSTGRES_DB:-recsys}
      interval: 10s
      timeout: 5s
      retries: 5

  kafka:
    image: apache/kafka:latest
    container_name: recsys-kafka
    restart: unless-stopped
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

  redis:
    image: redis:7-alpine
    container_name: recsys-redis
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  postgres_data:
